# python stuff
.idea/
.venv/

# build/runtime files
otdb/cache/
otdb/staticfiles/
otdb/ts/node_modules/
otdb/static/js/
*.pyc
*.sqlite3
bundled.css

# development files
test.py
.env
.pgpass
*.pem
pools.json