{% load static %}
<!doctype html>
<html>
    <head>
        {% block head %}{% endblock head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bundled.css' %}">

        <meta charset="UTF-8">
        <meta name="description" content="osu! tournament database website">
        <meta name="keywords" content="osu osu! tournament mappool database db sheppsu tdb otdb o!tdb 1v1 bot match cookiezi 1k pp">
        <meta name="author" content="sheppsu">
        <meta name="viewport" content="width=device-width">

        <title>o!TDB - {% block title %}{% endblock title %}</title>

        {{ data|json_script:"data" }}
    </head>
    <body>
        <div class="header">
            <div class="header-item left">
                <a class="header-link large" href="{% url 'index' %}">o!TDB</a>
            </div>
            <div class="header-item">
                <a class="header-link" href="{% url 'tournaments' %}">Tournaments</a>
            </div>
            <div class="header-item">
                <a class="header-link" href="{% url 'mappools' %}">Mappools</a>
            </div>
            <div class="empty-header-item"></div>
            {% if user.is_authenticated %}
            <img id="login-avatar" src="{{ user.avatar }}">
            {% else %}
            <a href="{{ auth_url }}"><div class="login-container">Login</div></a>
            {% endif %}
        </div>

        <div id="login-dropdown">
            <div id="dashboard-item" class="login-dropdown-item">Dashboard</div>
            <div id="profile-item" class="login-dropdown-item">Profile</div>
        </div>

        <div id="actual-body">
            {% block body %}{% endblock body %}
        </div>

        <div id="backdrop" class="prevent-select hide"></div>
        <div id="event-container"></div>
        <div id="popup" class="hidden">
            <p>Popup prompt</p>
        </div>

        <footer>
            <div class="footer">
                <p>Created by sheppsu</p>
            </div>
        </footer>

        <script type="module">
            import { baseSetup } from "{% static 'js/bundled.js' %}";
            baseSetup();
        </script>
    </body>
</html>