{% load static %}
<!doctype html>
<html>
    <head>
        {% block head %}{% endblock head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bundled.css' %}">

        <meta charset="UTF-8">
        <meta property="og:title" content="osu! Tournament Database">
        <meta property="og:description" content="osu! Tournament Database for tournaments, mappools, and staff">
        <meta property="og:site_name" content="osu! Tournament Database">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'favicon.ico' %}">
        <meta property="og:image:alt" content="website icon">
        <meta name="description" content="osu! Tournament Database for tournaments, mappools, and staff">
        <meta name="keywords" content="osu osu! tournament mappool database db sheppsu tdb otdb o!tdb 1v1 bot match cookiezi 1k pp">
        <meta name="author" content="sheppsu">
        <meta name="viewport" content="width=device-width">

        <title>o!TDB - {% block title %}{% endblock title %}</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">

        {{ data|json_script:"data" }}
    </head>
    <body>
        <div id="header" class="header">
            <div class="header-item left">
                <a class="header-link large" href="{% url 'index' %}">o!TDB</a>
            </div>
            <div class="header-item">
                <a class="header-link" href="{% url 'tournaments' %}">Tournaments</a>
            </div>
            <div class="header-item">
                <a class="header-link" href="{% url 'mappools' %}">Mappools</a>
            </div>
            <div class="empty-header-item"></div>
            {% if user.is_authenticated %}
            <img id="login-avatar" src="{{ user.avatar }}">
            {% else %}
            <a href="{{ auth_url }}"><div class="login-container">Login</div></a>
            {% endif %}
        </div>
        <div id="mobile-header" class="header">
            <div class="header-item left">
                <a class="header-link large" href="{% url 'index' %}">o!TDB</a>
            </div>
            <div class="empty-header-item"></div>
            <svg id="header-arrow-up" class="header-arrow hidden" viewBox="0 0 1 1">
                <polyline points="0.1,0.7 0.5,0.3 0.9,0.7" fill="none" stroke="black" stroke-width="0.1"></polyline>
            </svg>
            <svg id="header-arrow-down" class="header-arrow" viewBox="0 0 1 1">
                <polyline points="0.1,0.3 0.5,0.7 0.9,0.3" fill="none" stroke="black" stroke-width="0.1"></polyline>
            </svg>
        </div>
        <div id="mobile-header-dropdown" class="hidden">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'user' id=user.id %}">Profile</a>
            {% else %}
                <a href="{{ auth_url }}">Login</a>
            {% endif %}
            <hr/>
            <a href="{% url 'tournaments' %}">Tournaments</a>
            <a href="{% url 'mappools' %}">Mappools</a>
        </div>

        <div id="login-dropdown">
            <div id="dashboard-item" class="login-dropdown-item">Dashboard</div>
            <div id="profile-item" class="login-dropdown-item">Profile</div>
        </div>

        <div id="inner-body">
            {% block body %}{% endblock body %}
        </div>

        <div id="backdrop" class="prevent-select hide"></div>
        <div id="event-container"></div>
        <div id="popup" class="hidden">
            <p>Popup prompt</p>
        </div>

        <footer>
            <div class="inner-footer">
                <p>Created by <a href="https://sheppsu.me" target="_blank">sheppsu</a></p>
                <a href="https://github.com/sheppsu/otdb" target="_blank" class="footer-icon-size">
                    <img class="footer-icon-size" src="{% static 'assets/svg/github-mark.svg' %}" alt="github-link">
                </a>
            </div>
        </footer>

        <script type="module">
            import { baseSetup } from "{% static 'js/bundled.js' %}";
            baseSetup();
        </script>
    </body>
</html>