.index-container {
    width: calc(100% - 20px);
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;

    color: black;
}

.index-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.index-logo {
    width: 100px;
    height: 100px;
}

@media (max-width: 550px) {
    .index-title-container {
        flex-direction: column;
    }

    .index-logo {
        width: 128px;
        height: 128px;
    }
}