:root {
    --interaction-height: 30px;
}

.interaction-container {
    padding: 10px 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.clickable {
    height: var(--interaction-height);
    padding: 5px;

    border-radius: 3px;

    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    text-wrap: nowrap;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.clickable.active {
    border: 2px solid white;
}

.clickable.active:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: unset;
}

.clickable.hazard {
    background-color: var(--hazard-color);
}

.clickable.hazard:hover {
    background-color: var(--hover-hazard-color);
}

.typeable {
    width: 200px;
    height: var(--interaction-height);
    padding: 5px;

    border: none;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.4);

    font-family: inherit;
    font-size: 20px;
}

.typeable.number {
    width: 100px;
}
