.listing-container {
    width: 100%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.listing-container.left {
    justify-content: left;
}

.listing-item-container {
    width: 290px;
    padding: 10px;

    border-radius: 3px;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.3);
}

.listing-item-title {
    width: 290px;
    margin: 0;
    padding: 0;

    font-size: 20px;

    overflow:hidden;
    text-overflow: ellipsis;
    color: var(--text-color2);
}

.listing-item-title:hover {
    color: var(--hover-text-color2);
}

.listing-item-info {
    display: flex;
}

.listing-item-info-data {
    font-size: 18px;
    padding: 0;
    margin: 0 5px;
}

.listing-item-info-data.right {
    justify-self: right;
}

.favorites-cnt-star {
    width: 24px;
    height: 24px;
}