#tournament-name {
    text-align: center;
    color: white;
}

#tournament-container {
    display: flex;
    flex-direction: column;
}

.tournament-item {
    text-wrap: wrap;
}

.tournament-item-label {
    color: white;
}

.tournament-section-label {
    margin: 10px 0;

    color: white;
}

.tournament-section-label.sub {
    font-size: 30px;
}

.tournament-staff-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
}

.tournament-staff {
    height: 30px;
    padding: 5px;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    background-color: var(--fg-color1);
}

.tournament-staff-avatar {
    width: 30px;
    height: 30px;

    border-radius: 30px;
}