{% extends "base.html" %}
{% load static %}
{% block head %}
{% if editing %}
{{ mappool|json_script:"mappool-data" }}
{% endif %}
{% endblock head %}
{% block title %}{% if editing %}Editing mappool{% else %}New mappool{% endif %}{% endblock title %}
{% block body %}
<div class="page-container">
    <div class="page-section">
        <h1 class="section-label">Mappool metadata</h1>
        <div class="input-container prevent-select">
            <form-input id="name-input" type="text" label="Pool name" validation="any" required max-length="64"></form-input>
        </div>
    </div>
    <div id="beatmap-section" class="page-section">
        <h1 class="section-label">Beatmaps</h1>
        <div class="input-container prevent-select">
            <form-input id="add-beatmap" type="button" label="+" square></form-input>
            <form-input id="quick-add-beatmaps" type="button" label="Quick add"></form-input>
        </div>
        <div class="input-container prevent-select" style="margin-top:20px;">
            <form-input id="submit" type="button" label="Submit mappool"></form-input>
        </div>
        <p class="description small">Note: submission typically takes at least several seconds, so please be patient!</p>
    </div>
</div>
<script type="module">
    import { mappoolFormSetup } from "{% static 'js/bundled.js' %}";
    mappoolFormSetup({% if editing%}true{% else %}false{% endif %});
</script>
{% endblock body %}