{% extends "base.html" %}
{% load static %}
{% block title %}Mappools{% endblock title %}
{% block body %}
<div class="page-container">
    <div class="interaction-container">
        <div id="favorite-btn" class="clickable hidden">
            <svg class="favorite-star" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
        </div>
        <div id="edit-btn" class="clickable hidden">Edit</div>
        <div id="delete-btn" class="clickable hazard hidden">Delete</div>
    </div>
    <h1 id="mappool-name">Loading...</h1>
    <p id="mappool-description"></p>
    <div id="mappool-container" class="prevent-select"></div>
</div>
<script type="module">
    import { mappoolSetup } from "{% static 'js/bundled.js' %}";
    mappoolSetup();
</script>
{% endblock body %}